[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.table-header {
  text-align: center; }

.table-container {
  margin: 30px 0; }
  .table-container h1 {
    font-family: 'Sansita One', cursive; }
  .table-container img {
    max-width: 70px;
    max-height: 70px; }

table {
  border-collapse: collapse;
  padding: 10px;
  margin: 0 25%;
  width: 50%;
  font-family: 'Merriweather', serif; }
  table tr {
    border-collapse: collapse;
    border-bottom: none;
    font-size: 18px;
    padding: 10px; }
  table td {
    border-collapse: collapse;
    font-size: 18px;
    padding: 10px; }
  table th {
    border-collapse: collapse;
    font-size: 20px;
    padding: 10px;
    text-decoration: underline;
    background-color: #69ace0; }
  table tr:nth-child(odd) {
    background-color: #CFCFCF; }

.form-container {
  margin-top: 40px; }

input.ng-invalid {
  background-color: #fdd; }

button {
  margin: 10px auto; }
