// Sass variables
$primary-color: black;
$primary-color-2: lightgray;
$font-color: black;
$border-color: #5CA4D7;
// Sass imports
// Sass mixins
@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// selectors
* {
    @include border-box;
}
.table-header {
	text-align: center;
}

.table-container {
    margin: 30px 0;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin: 0 25%;
    width: 50%;
    font-family: 'Merriweather', serif;
    tr {
        border: 1px solid black;
        border-collapse: collapse;
        font-size: 18px;
        padding: 10px;
    }
    td {
        border: 1px solid black;
        border-collapse: collapse;
        font-size: 18px;
        padding: 10px;
    }
    th {
        border: 1px solid black;
        border-collapse: collapse;
        font-size: 20px;
        padding: 10px;
        text-decoration: underline;
    }
    tbody tr:nth-child(odd) {
        background-color: #CFCFCF;
    }
}
