// Sass variables
$primary-color: black;
$primary-color-2: lightgray;
$font-color: black;
$border-color: #5CA4D7;
// Sass imports
// Sass mixins
@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// selectors
* {
    @include border-box;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    width: 70%;
    font-family: 'Merriweather', serif;
    tr {
        border: 1px solid black;
        border-collapse: collapse;
        font-size: 16px;
    }
    td {
        border: 1px solid black;
        border-collapse: collapse;
        font-size: 16px;
    }
    th {
        border: 1px solid black;
        border-collapse: collapse;
        font-size: 18px;
    }
}
